<%= form_with scope: :article, model: @article, locale: true do |f| %>

  <div>
    <% if @article.errors.any? %>
      <ul> 
        <% @article.errors.full_messages.each do |message|%>
          <p> <%= message %></p>
        <% end %>
      </ul>
    <% end %>
  </div>
   
  <div class="main-container">
    <h1>Create Article</h1>    
    <div class="label-container">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="label-container">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="btn-container">
      <%= f.submit%>
      <%= link_to "Back", articles_path%>   
    </div>
  </div>
    
<% end %>