<%= form_with scope: :article, url: article_update_path, method: :put, locale: true do |a| %>
  <div class="edit-article">
    <% if @article.errors.any? %>
      <ul>
        <% @article.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="main-container">
    <h1>Edit nanaman</h1>  
    <div class="label-container">
      <label>ID</label>
      <input type="text" disabled value="<%= @article.id %>"/>
    </div>
    <div class="label-container">
      <label>Name</label>
      <%= a.text_field :name %>
    </div>
    
    <div class="label-container">
      <label>Body</label>
      <%= a.text_area :body %>
    </div>
    
    <div class="btn-container">
      <%= a.submit %>
      <%= link_to "Back", articles_path%>
    </div>
  </div>
<% end %>